*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family:"Poppins",sans-serif;
}
body{
    background-color: #000;
}
header{
    display: flex;
    position: fixed;
}
header nav .dateTime {
    margin-left: 1100px;
    height: 60px;
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    box-shadow: 2px 2px 9px 1px #686060;
}
header h2{
    font-weight: 100;
}
.Date p{
    color: rgba(85, 85, 85, 1);
    padding-left: 20px;
   
}
.Date{
    border-right: 1px solid #000;
    width: 50%;
    height: 60px;
}
#date{
    padding-top: 10px;
}
.Time{
    width: 40%;
    height: 60px;
}
.Time p{
    color: rgba(85, 85, 85, 1);
    padding-left: 20px;
}
#notification{
    padding-top: 10px;
    padding-left: 40px;
}
#day{
    padding-top: 5px;
    padding-left: 25px;
}
#time{
    padding-top: 5px;
}
section{
    padding-top: 80px;
    display: flex;
}
section .left{
    width: 25%;
}
section .mid{
    width: 50%;
}
section .right{
    width: 25%;
}
section .left .goals{
    height: 200px;
    width: 400px;
}
section .left .goals img{
    z-index: -1;
    position: relative;
    left: 150px;
    bottom: 30px;
}
section .left .goals button{
    width: 100px;
    height: 25px;
    border-radius: 9px;
    background-color: #000;
    box-shadow: 2px 2px 9px 1px #686060;
    position: relative;
    left: 21px;
    bottom: 140px;
    right: 50px;
    z-index: -1;
}
section .left .goals button i{
    padding-left: 5px;
}
section .mid h1{
    padding-left: 170px;
    font-family: "Poppins",sans-serif;
    font-size: xx-large;
}
section .mid img{
    position: relative;
    left: 150px;
    bottom: 40px;
    z-index: -1;
}
section .right .task{
    margin-top: 20px;
    margin-left: 20%;
    height: 300px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 1px #686060;
}
section .right .task p{
    text-align: center;
    padding-top: 10px;
    font-family: "Poppins",sans-serif;
}
footer{
    display: flex;
}
footer .box{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 2px 2px 9px 1px #9c9494;
    margin-left: 60px;
    position: relative;
    left: 20%;
    top: 50px;
}
footer .fitness{
    background-image: url(/Images/Background/Fitness.jpg);
    background-size: cover;
    background-position: center;
}
footer .meal{
    background-image: url(/Images/Background/meal.jpg);
    background-size: cover;
    background-position: center;
}
footer .tracking{
    background-image: url(/Images/Background/Progress.jpg);
    background-size: cover;
    background-position: center;
}