*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family:"Poppins",sans-serif;
}
body{
    background-color: #000;
}
header{
    display: flex;
}
header nav .dateTime {
    margin-left: 1100px;
    height: 60px;
    width: 220px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
}
header h2{
    font-weight: 100;
}
.Date p{
    color: rgba(85, 85, 85, 1);
    padding-left: 20px;
   
}
.Date{
    border-right: 1px solid #000;
    width: 50%;
    height: 60px;
}
#date{
    padding-top: 10px;
}
.Time{
    width: 40%;
    height: 60px;
}
.Time p{
    color: rgba(85, 85, 85, 1);
    padding-left: 20px;
}
#notification{
    padding-top: 10px;
    padding-left: 40px;
}
#day{
    padding-top: 5px;
    padding-left: 25px;
}
#time{
    padding-top: 5px;
}
section{
    padding-top: 80px;
    display: flex;
}
section .left{
    width: 25%;
}
section .mid{
    width: 50%;
}
section .right{
    width: 25%;
}
section .left .goals{
    height: 400px;
    width: 400px;
}
section .left .goals img{
    z-index: -1;
    position: relative;
    left: 70px;
    bottom: 30px;
}
section .left .goals button{
    width: 100px;
    height: 25px;
    border-radius: 9px;
    background-color: #000;
    box-shadow: 2px 2px 9px 1px #686060;
    position: relative;
    bottom: 140px;
    right: 50px;   
}
section .left .goals button i{
    padding-left: 5px;
}
section .mid h1{
    padding-left: 120px;
}
section .mid img{
    position: relative;
    left: 100px;
    bottom: 40px;
    z-index: -1;
    
}